### DataFrame

DataFrame'ler satırları ve sütunları olan iki boyutlu etiketli veri yapısıdır. Seriler için bir excel dosyasındaki bir sütunu temsil ettiğini belirtmiştik. DataFrame'leri de excelin tamamı olarak düşünebiliriz.

# ![title](dataframe.png)

#### DataFrame Oluşturma

**pandas.DataFrame(data, index, columns)**

* data -> Veri kümemiz
* index-> index zorunlu alan değildir. Varsayılan olarak 0 dan başlar n adet veri için n-1 indexine kadar devam eder.
* columns -> Opsiyoneldir. Veri için sütun adlarını tanımlamamız için kullanılır. Eğer bir tanımlama yapmadıysak 0 ile n-1 arasında değer alacaktır.

Pandas kütüphanesi Python dilinin doğrudan bir parçası değildir. Bu yüzden ayrıca kurulması ve program içerisinde tanımlanması yani import edilmesi gerekmektedir.

pip install pandas

In [4]:
import pandas as pd

#### Boş Bir DataFrame Oluşturma

In [5]:
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

#### Listeler ile DataFrame Oluşturma

In [6]:
df = pd.DataFrame(["Paris", "Berlin", "Roma", "Ankara"])
df

        0
0   Paris
1  Berlin
2    Roma
3  Ankara

Columns ve index değerlerine herhangi bir atama yapmadığımız için 0'dan başlayacak şekilde değerler atandı.

In [7]:
df = pd.DataFrame(["Paris", "Berlin", "Roma", "Ankara"], columns=["Başkentler"])
df

  Başkentler
0      Paris
1     Berlin
2       Roma
3     Ankara

#### Bir Dictionary'den DataFrame Oluşturma

In [8]:
data = {'Food':['Ekmek', 'Elma', 'Dondurma', 'Bisküvi'], 'Calories':[100, 50, 180, 90]}
df = pd.DataFrame(data)
print(df)

       Food  Calories
0     Ekmek       100
1      Elma        50
2  Dondurma       180
3   Bisküvi        90

Dictionary'deki Food ve Calories key değerleri bizim oluşturduğumuz DataFrame için sütun görevini almaktadırlar.

#### Serilerden DataFrame Oluşturma

In [9]:
data = {
    'data1': pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
    'data2': pd.Series([5, 6, 7, 8], index=['a', 'b', 'c', 'd'])
    }

df = pd.DataFrame(data)
df

   data1  data2
a      1    5.0
b      2    6.0
c      3    7.0
d      4    8.0
e      5    NaN

Görüldüğü gibi DataFrame oluşturulurken data2 de e indexi olmadığı için NaN olarak eklendi.